<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Below The Surface Donation</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/donate.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<style type="text/css">
	.donateformcontainer{
		padding-top: 20px;
	    max-width: 390px;
	    position: relative;
	    padding-left: 0;
	    padding-right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    text-align: center;
	    top: 40%;
		transform: translateY(-50%);
	}
	.donateform{
		border: 1px solid #dfdfd7;
	    border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
	    border-bottom-left-radius: 4px;
	    border-bottom-right-radius: 4px;
	    background: #fff;
	    position: relative;
	    margin: 0;
	    max-width: 100%;
	}
	.form-header{
		background: #f4f5f0;
	    border-bottom: 1px solid #dfdfd7;
	    border-top-left-radius: 3px;
	    border-top-right-radius: 3px;
	    color: #333232;
	    display: block;
	    font-size: 16px;
	    font-weight: 500;
	    margin-bottom: 10px;
	    padding: 20px;
	}

	.btn{
 		background-color: #FFCA0A;
	    color: white;
	    height: 64px;
	    line-height: 64px;
	    font-size: 20px;
	    padding: 0 40px;
	    text-transform: uppercase;
	    letter-spacing: .3em;
	    font-weight: 700;
	    width: 100%;
	}
	.donate-form-body {
	    padding: 10px 20px 20px;
	}
	.amount-wrapper {
	    width: 100%;
	}
	.input-wrapper{
		margin-bottom: 16px;
   		position: relative;
	}
	.input-field-container {
	    position: relative;
	}
	.postfix, .postinput, .prefix, .preinput {
	    font-weight: 500;
	    font-size: .8rem;
	    line-height: 1rem;
	    color: #c1c1ba;
	    padding: 0 10px;
	}
	.postinput, .preinput {
	    color: #333232;
	    font-size: 18px;
	}
	.postinput {
	    right: 0;
	}
	.amount-wrapper input {
 	   border-radius: 4px;
 	   border: solid 1px #c1c1ba;
	}
	.postinput, .preinput {
	    position: absolute;
	    top: 50%;
	    z-index: 1;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	}
	input[type=number]{
	    font-size: 16px;
	    line-height: 1.3;
	    padding: 15px 10px;
	    border-radius: 4px;
	    border: solid 1px #c1c1ba;
	    margin-bottom: 0;
	    height: auto;
	    text-align: left;
	    color: #333232;
	    width: 100%;
	    cursor: pointer;
	    vertical-align: bottom;
	    -webkit-appearance: none;
	}
	.postinput ~ input, .preinput ~ input {
	    padding-left: 30px;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	    /* display: none; <- Crashes Chrome on hover */
	    -webkit-appearance: none;
	    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
	.donate-amount	input{
	    height: 60px;
	    font-size: 24px;
	    color: #369ff4;
	}
	.creditcard{
		font-size: 15px;
	}
	.donatebackground{
		width: 100%;
		height: 100%;
		background-image: url('../images/donation.jpg'); 
		background-size: cover;
	}
	.logo{
	  position: fixed;
	  top: 10px;
	  left: 10px;
	  z-index: 999;
	}
	ul {
	   list-style: none;
	   margin: 0;
	   padding: 0;
	}
	#sticky-social {
	   right: 0;
	   position: fixed;
	   top: 50%;
	   transform: translate(0, -50%);
	   z-index: 100;
	}
	#sticky-social a {
	   background: #333;
	   color: #fff;
	   display: block;
	   height: 30px;
	   line-height: 35px;
	   position: relative;
	   text-align: center;
	   width: 30px;
	}
	#sticky-social a span {
	   line-height: 30px;
	   left: 120px;
	   position: absolute;
	   text-align:center;
	   width:120px;
	}

	#sticky-social a[class*="facebook"],
	#sticky-social a[class*="facebook"] span { background: #3b5998; }

	#sticky-social a[class*="twitter"],
	#sticky-social a[class*="twitter"] span { background: #00aced; }

	#sticky-social a[class*="gplus"],
	#sticky-social a[class*="gplus"] span { background: #dd4b39; }

	#sticky-social a[class*="linkedin"],
	#sticky-social a[class*="linkedin"] span { background: #007bb6; }

	#sticky-social a[class*="instagrem"],
	#sticky-social a[class*="instagrem"] span { background: #517fa4; }

	#sticky-social a[class*="pinterest"],
	#sticky-social a[class*="pinterest"] span { background: #cc2127; }

	#sticky-social a[class*="medium"],
	#sticky-social a[class*="medium"] span { background: #4AAE83; }



</style>
<script type="text/javascript">
	
</script>

<header>

  <div class="logo">
  	<a href="/">
       <img style="height: 60px; width: 60px;" src="../images/Belowthesurfacelogo.png" alt="Logo" class="belowthesurfacelogo">
    </a>
  </div>

</header>

  <aside id="sticky-social">
      <ul>
          <li><a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"><span>Facebook</span></a></li>
          <li><a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"><span>Twitter</span></a></li>
          <li><a href="https://www.linkedin.com" class="fa fa-linkedin" target="_blank"><span>LinkedIn</span></a></li>
          <li><a href="https://www.instagram.com" class="fa fa-instagram" target="_blank"><span>Instagram</span></a></li>
          <li><a href="https://www.medium.com" class="fa fa-medium" target="_blank"><span>Medium</span></a></li>
      </ul>
  </aside>

<body>
<div class="donatebackground">
		<div class='donateformcontainer'>
			<form action='' autocomplete="off" class="donateform">
				<span class="form-header text-center">
					<span id='word'>Enter an amount to give</span>
				</span>
				<div class='donate-form-body'>
					<div class="amount-wrapper">
						<div class="input-wrapper donate-amount">
							<div class="input-field-container">

								<span class="preinput">$</span>

								<input id="donateamount" name='DonateAmounts' type="number" step="0.01" data-amount="true" data-parsley-currency="1,50000" data-parsley-error-message="Please enter a valid amount ($1.00 minimum)" data-parsley-errors-container=".donate-amount.a5826748-d59d-4f86-a042-1e4c030720d5 .error" name="donation_form[amount]" required="" value="">
								<span class="postinput">USD</span>
							</div>
						</div>

						<a id="donatebutton" class="btn creditcard" onClick="a_onClick()">
						<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
							Credit Card</a>

						<div class="btn text-center" style="margin-top: 15px; padding-top: 15;">
							<div id="paypalbutton" class='paypal'>
							</div>
						</div>
				
					</div>
				</div>
			</form>
		</div>
</div>


	  <script>

        paypal.Button.render({

            env: 'production', // sandbox | production

            client: {
                sandbox:  'Adbi3b9xPdzZFp9W5tIneQM6bmQwDZpxP0Le8khG__neFdTNK7-WipJRfQ3D4dhEKHeHtBOhr5bWRX8o',
                production: 'AY0HSWnrC26EAMfNwiOu-XRv5UH7VoFaAD1KaYg9AS0siooMjkltCJ67wsJ8tSlzN1nQup607OLKdZxI'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            style: {
	            label: 'generic',
	            size:  'small', // small | medium | large | responsive
	            shape: 'rect',   // pill | rect
	            color: 'gold'   // gold | blue | silver | black
	        },

            // payment() is called when the button is clicked
            payment: function(data, actions) {

            	var text = $('#donateamount').val();
            	console.log(text)
                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: text, currency: 'USD' }
                            }
                        ]
                    }
                });
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {

                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function() {
                    window.alert('Payment Complete!');
                });
            }

        }, '#paypalbutton');
    </script>

</body> 



</html>