<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Below The Surface</title>

<meta name="description" content="Below the Surface is a young, vibrant non-profit organization that uses a watershed approach to engineer solutions to water insecurity in Ethiopia. We believe understanding the culture of each community is vital to building sustainable, independent communities." />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />

    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css" />
</head>

<body>
<div>
<div>

<header>
  <div class="logo">
       <img style="height: 60px; width: 60px;" src="../images/Belowthesurfacelogo.png" alt="Logo" class="belowthesurfacelogo">
  </div>
  <div id="paypalbutton" class="donate">
    <div class='donatebutton'>
      <a href="/donate"><h4 class='donateword'>Donate Now</h4></a>
    </div>
  </div>

</header>

  <aside id="sticky-social">
      <ul>
          <li><a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"><span>Facebook</span></a></li>
          <li><a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"><span>Twitter</span></a></li>
          <li><a href="https://www.linkedin.com" class="fa fa-linkedin" target="_blank"><span>LinkedIn</span></a></li>
          <li><a href="https://www.instagram.com" class="fa fa-instagram" target="_blank"><span>Instagram</span></a></li>
          <li><a href="https://www.medium.com" class="fa fa-medium" target="_blank"><span>Medium</span></a></li>
      </ul>
  </aside>

</div>
<br/>
<section id="video">
<div class="container-fluid">
  <div class="embed-responsive embed-responsive-16by9 hidden-xs">
    <div id="intro">
          <video id="coverVid" autoplay="" class="vsc-initialized" >
            <source src="../video/main.webm" type="video/webm">
            There was a problem loading video on your browser.
          </video>
    </div>
  </div>
</section>

<section id="mobileversion">
  <div class="container-fluid">
    <div class='mobilemain'>
          <div class="text-vertical-center-form mobileform text-center">
            {{#if checkformessage}}

                    <h1 style="color: white; "> Thank you for helping us. There are {{emailcount}} people waiting for our app.</h1>

               {{else}}
                 <form method="POST" action="/email">
                    <div class="group">

                      <input type="email" name="email" class="formStyle" placeholder="Email (required)" required />
                      </div>
                      <div class="col-md-offset-3 col-md-6 col-xs-12 text-center">
                      <button class="btn btn-default btn-round" type="submit" style="color: black; position: relative; top: 80px;">Join the community</button>
                      </div>

                <form>
              {{/if}}
            </div>
    </div>
  </div>

</section>

 <div class="container-fluid" id="page" style="border-top: 5px solid;">

      <section id="whoWeAre" name="whoWeAre" class="text-center">
        <div class="row">
          <div id= "Horizontal" class="emailtitle"><h1>Who Are We?</h1></div>
          <div class='emailunderline'>⚊</div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class='emailparagraph'>"To impact a community, you must first understand its people” Below the Surface increases the amount of safe drinking water throughout Ethiopia, empowering its leaders to improve education and enhance gender equality.</p>
          </div>

          <div class="text-vertical-center-form desktopform">
            {{#if checkformessage}}

                    <h1 style="color: white;"> Thank you for helping us. There are {{emailcount}} people waiting for our app.</h1>

               {{else}}
                 <form method="POST" action="/email">
                    <div class="group">

                      <input type="email" name="email" class="formStyle" placeholder="Email (required)" required />
                      </div>
                      <div class="col-md-offset-3 col-md-6 ">
                      <button class="btn btn-default btn-round" type="submit">Join the community</button>
                      </div>

                <form>
              {{/if}}

        </div>
      </section>
     </div>




    <div class="row row3">
      <div class="col-md-12 solution_container_box1">
        <div class="col-md-6 solution_inner_container">
        <div class="solution_block">
        <h1 class="solution_title">CREATE</h1>
        <p class="solution_description">
          Below the Surface creates drilled well water systems in Ethiopia that provide communities with clean water from hard to reach aquifers. Each system has a well yield designed specifically to match the water demand peak needs of each community.
         </p>
           <!-- <a href="#" class="btn btn-info btn-lg donate_button" role="button">Donate to our organization</a> -->
         </div>
         </div>
      </div>
      <div class="col-md-12 solution_container_box2">
        <div class="col-md-6 solution_inner_container">
        <div class="solution_block">
        <h1 class="solution_title">SUSTAIN</h1>

        <p class="solution_description">
          A project without a system to sustain it doesn’t last. In fact, a vast majority of water projects in Ethiopia fail in less than 5 years. Below the Surface partners with local water committees to ensure the communities own and maintain their solutions.
        </p>
           <!-- <a href="#" class="btn btn-info btn-lg donate_button" role="button">Donate to our organization</a> -->
         </div>
       </div>
      </div>
      <div class="col-md-12 solution_container_box3">
        <div class="col-md-6 solution_inner_container">
        <div class="solution_block">
        <h1 class="solution_title">VISION</h1>

        <p class="solution_description">
          Clean water reshapes entire communities. With more kids able to pursue education and improved health, our solutions empower leaders to develop the places they care about most. Below the Surface is about progress --starting with the people.

        </p>
           <!-- <a href="#" class="btn btn-info btn-lg donate_button" role="button">Donate to our organization</a> -->
         </div>
       </div>
      </div>
    </div>

    <div class="row about_container_row4">
      <div class="about_container">
        <h1 class="team_title">MEET THE TEAM</h1>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container ">

          <img src="../images/JetuwrDavisFinish.png" alt="Name" class="profile_pic">

        <h1 class="name">Jetuwr</h1>
        <h1 class="title">Founder</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">

          <img src="../images/ArjoFinish.png" alt="Name" class="profile_pic">

        <h1 class="name">Arjo</h1>
        <h1 class="title">President</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">

          <img src="../images/FairuzAliFinish.png" alt="Name" class="profile_pic">

        <h1 class="name">Fairuz</h1>
        <h1 class="title">Planning Chair</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">

          <img src="../images/MarwaGhumrawiFinish.png" alt="Name" class="profile_pic">

        <h1 class="name">Marwa</h1>
        <h1 class="title">Water Contractor Chair</h1>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">

          <img src="../images/EkramFinish.png" alt="Name" class="profile_pic">

        <h1 class="name">Ekram</h1>
        <h1 class="title">Planning Co-chair</h1>
     </div>

      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">

          <img src="../images/BemnetFinish.png" alt="Name" class="profile_pic">

        <h1 class="name">Bemnet</h1>
        <h1 class="title">Treasurer</h1>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">

          <img src="../images/FaridaFinish.png" alt="Name" class="profile_pic">

        <h1 class="name">Farida</h1>
        <h1 class="title">Secretary</h1>
      </div>

    </div>
  </div>
  <div class="row row5">
    <div class="blog_container_box1">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 blog_inner_container_left">
        <div class="left_box">
       <h1 class="blog_title_left">RECENT POSTS</h1>
       <p class="blog_description_left">
         Read about our journey to building a better community in Ethiopia.
       </p>
       <a  href="http://www.medium.com/"><button class="blog_button" type="button">Check out our blog</button></a>
     </div>
     </div>
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 blog_inner_container_right">
       <h1 class="blog_title">HEART</h1>
       <p class="blog_description">
       Below the Surface grew from a passion of young leaders excited to change their communities back home now instead of later. Personal is an understatement: leaders on our team are impacting places with strong family ties.
       </p>
       <h1 class="blog_title">WILL</h1>
       <p class="blog_description">
        Ideas spark the movement but it's action that keeps it going. Those who think the most usually do the least. We choose action over inaction and persist until successful. Consistency outlasts any problem.
       </p>
       <h1 class="blog_title">GROWTH</h1>
       <p class="blog_description">
       Below the Surface for us is not just about helping to solve the water crisis in Ethiopia. It’s about growing leaders and rebuilding entire communities. Lasting change comes only from empowering the people in need.
       </p>
        </div>
    </div>
  </div>
  </div>
</body>

<script type="text/javascript">

var videoJ= $('#coverVid');

videoJ.on('ended',function() {
   this.currentTime = 2600;
}, false);


</script>


</html>
