<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Below The Surface</title>

<meta name="description" content="Below the Surface is a young, vibrant non-profit organization that uses a watershed approach to engineer solutions to water insecurity in Ethiopia. We believe understanding the culture of each community is vital to building sustainable, independent communities." />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />

    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css" />
</head>

<body>
<div>
<div>

<div class="top-nav">
  <li class="logo"><a href="/">charity: water</a></li>
  <li class="mobile-donate button-links"><a href="/donate">Donate</a>
  </li>
</div>


<nav class="navbar navbar-m2p sidebar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                Foobar<b>Company</b>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- Dashboard -->
                <li class="active open">
                  <a href="#">
                      <span class="pull-right hidden-xs showopacity glyphicon material-icons">av_timer</span> Dashboard
                  </a>
                </li>
                <!-- Banner -->
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">burst_mode</span>
                        Banners <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>
                <li class="separator">Content</li>
                <!-- Page -->
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">description</span>
                        Pages <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>
                <!-- Blog -->
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">chat_bubble_outline</span>
                        Blog <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>
                <!-- Tags -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon material-icons">label</span>
                        Tags <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"> <i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"> <i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>
                <li class="separator">System</li>
                <!-- Users -->
                <li class="#">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">group</span>
                        Users <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>
                <!-- Exit -->
                <li>
                    <a href="#">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">exit_to_app</span> Exit
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


</div>
<br/>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 video_container_row1">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 video_container_row1">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="HDLJWBRU69VVU">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>

    



    <div class="row">
      <div class="col-md-12 email_container_row2">
        <div class="col-md-12">
          <h1 class="why_text">WHY?</h1>
          <h2 class="signup_text">Sign up for our newsletters</h2>
          <h4 class="join_text">Join our community to make a difference</h4>
        </div>
        <div class="col-md-6">
          <h4 class="join_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h4>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
        </div>
      </div>
    </div>
    <div class="row row3">
      <div class="col-md-12 solution_container_box1">
        <div class="col-md-6 solution_inner_container">
        <h1 class="solution_title">OUR SOLUTION</h1>
        <p class="solution_description">Big Goals, Significant Change
           Splash begins here: clean water at scale.
           We then add customized hygiene education services and broker key
           relationships to solve sanitation challenges. By piggybacking on technology and supply chains already in use by major food and hotel chains, we’re able to set a bold goal of 100% coverage of a platform (instead of simply a pilot project): every orphanage in China; every public school in Kathmandu, Nepal; every child-serving institution in Kolkata, India; and more.</p>
           <!-- <a href="#" class="btn btn-info btn-lg donate_button" role="button">Donate to our organization</a> -->
         </div>
      </div>
    </div>

    <div class="row about_container_row4">
      <div class="about_container">
        <h1 class="team_title">THE TEAM</h1>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container ">
        <div class="water_droplet">
          <img src="../images/JetuwrDavis.png" alt="Name" class="profile_pic">
        </div>
        <h1 class="name">Jetuwr</h1>
        <h1 class="title">Founder</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <img src="../images/AbeleMeshesha.png" alt="Name" class="profile_pic">
      </div>
        <h1 class="name">Abele</h1>
        <h1 class="title">Fundraising Chair</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <img src="../images/FairuzAli.png" alt="Name" class="profile_pic">
      </div>
        <h1 class="name">Fairuz</h1>
        <h1 class="title">Event Planning Co-Chair</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <img src="../images/MarwaGhumrawi.png" alt="Name" class="profile_pic">
      </div>
        <h1 class="name">Marwa</h1>
        <h1 class="title">Social Media Chair</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <img src="../images/Ekram.png" alt="Name" class="profile_pic">
      </div>
        <h1 class="name">Ekram</h1>
        <h1 class="title">Event Planning Co-chair</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <img src="../images/Bemnet.png" alt="Name" class="profile_pic">
      </div>
        <h1 class="name">Bemnet</h1>
        <h1 class="title">Treasurer</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <img src="../images/Farida.png" alt="Name" class="profile_pic">
      </div>
        <h1 class="name">Farida</h1>
        <h1 class="title">Secretary</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <!-- <img src="../images/test.png" alt="Name" class="profile_pic"> -->
      </div>
        <h1 class="name">Arjo</h1>
        <h1 class="title">Community Partnership Liasion/Translator</h1>
      </div>
    </div>
  </div>
  <div class="row row5">
    <div class="blog_container_box1">
      <div class="col-md-6 blog_inner_container_left">
        <div class="left_box">
       <h1 class="blog_title_left">RECENT POSTS</h1>
       <p class="blog_description_left">
         Read about our journey to building a better community in Ethiopia.
       </p>
       <a  href="http://www.medium.com/"><button class="blog_button" type="button">Check out our blog</button></a>
     </div>
       </div>
       <div class="col-md-6 blog_inner_container_right">
       <h1 class="blog_title">IDEA</h1>
       <p class="blog_description">
         Ideas don’t mean much. Below the Surface stayed in the idea phase for nearly a year. I couldn’t find the certainty to begin something I cared so much about. I was scared. I thought about forming a team. Who would join me if I didn’t have all the answers? I thought about learning Amharic to better connect with the Ethiopian community. How? I thought about failure, rejection, and everything I didn’t know. I almost quit without starting.
       </p>
       <h1 class="blog_title">THINK</h1>
       <p class="blog_description">
          I overthought. Those who think the most usually do the least. I stopped thinking and started doing. I invested $2,000 in the org and made a commitment to use every opportunity to gain support. I started researching why previous water initiatives in Ethiopia failed and were not sustainable to better understand what “solutions” aren’t really solutions. Finally serious about mastering Amharic, everyday I studied it and soon developed a fluency in reading, speaking, and writing basic Amharic.
       </p>
       <h1 class="blog_title">PLAN</h1>
       <p class="blog_description">
         The idea was now a plan.I partnered with Arjo Adam, a native from Agarfa, Ethiopia and we mapped out a concept to implement a water system in his community. Shortly after, we reached out to others interested in joining us. Now, with a team of amazing leaders passionate about paying it forward, we are set to make waves. Below the Surface for me is not just about helping to solve the water crisis in Ethiopia, but also about growing leaders and rebuilding entire communities.

       </p>
        </div>
    </div>
  </div>
  </div>
</body>
</html>
