<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Below The Surface</title>

<meta name="description" content="Below the Surface is a young, vibrant non-profit organization that uses a watershed approach to engineer solutions to water insecurity in Ethiopia. We believe understanding the culture of each community is vital to building sustainable, independent communities." />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />

    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css" />
</head>

<body>
<div>
<div>

  <aside id="sticky-social">
      <ul>
          <li><a href="https://www.facebook.com" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
          <li><a href="https://www.twitter.com" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
          <li><a href="https://www.linkedin.com" class="entypo-linkedin" target="_blank"><span>LinkedIn</span></a></li>
          <li><a href="https://www.instagram.com" class="entypo-instagrem" target="_blank"><span>Instagram</span></a></li>
          <li><a href="https://www.medium.com" class="entypo-medium" target="_blank"><span>Medium</span></a></li>
      </ul>
  </aside>


</div>
<br/>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 video_container_row1">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 video_container_row1">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="HDLJWBRU69VVU">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>

    
    <div class="row">
      <div class="col-md-12 email_container_row2">
        <div class="col-md-12">
          <h1 class="why_text">WHY?</h1>
          <h2 class="signup_text">Sign up for our newsletters</h2>
          <h4 class="join_text">Join our community to make a difference</h4>
        </div>
        <div class="col-md-6">
          <h4 class="join_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h4>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
        </div>
      </div>
    </div>
    <div class="row row3">
      <div class="col-md-12 solution_container_box1">
        <div class="col-md-6 solution_inner_container">
        <h1 class="solution_title">CREATE</h1>
        <p class="solution_description">Big Goals, Significant Change
           Splash begins here: clean water at scale.
           We then add customized hygiene education services and broker key
           relationships to solve sanitation challenges. By piggybacking on technology and supply chains already in use by major food and hotel chains, we’re able to set a bold goal of 100% coverage of a platform (instead of simply a pilot project): every orphanage in China; every public school in Kathmandu, Nepal; every child-serving institution in Kolkata, India; and more.</p>
           <!-- <a href="#" class="btn btn-info btn-lg donate_button" role="button">Donate to our organization</a> -->
         </div>
      </div>
      <div class="col-md-12 solution_container_box2">
        <div class="col-md-6 solution_inner_container">
        <h1 class="solution_title">SUSTAIN</h1>
        <p class="solution_description">Big Goals, Significant Change
           Splash begins here: clean water at scale.
           We then add customized hygiene education services and broker key
           relationships to solve sanitation challenges. By piggybacking on technology and supply chains already in use by major food and hotel chains, we’re able to set a bold goal of 100% coverage of a platform (instead of simply a pilot project): every orphanage in China; every public school in Kathmandu, Nepal; every child-serving institution in Kolkata, India; and more.</p>
           <!-- <a href="#" class="btn btn-info btn-lg donate_button" role="button">Donate to our organization</a> -->
         </div>
      </div>
      <div class="col-md-12 solution_container_box3">
        <div class="col-md-6 solution_inner_container">
        <h1 class="solution_title">VISION</h1>
        <p class="solution_description">Big Goals, Significant Change
           Splash begins here: clean water at scale.
           We then add customized hygiene education services and broker key
           relationships to solve sanitation challenges. By piggybacking on technology and supply chains already in use by major food and hotel chains, we’re able to set a bold goal of 100% coverage of a platform (instead of simply a pilot project): every orphanage in China; every public school in Kathmandu, Nepal; every child-serving institution in Kolkata, India; and more.</p>
           <!-- <a href="#" class="btn btn-info btn-lg donate_button" role="button">Donate to our organization</a> -->
         </div>
      </div>
    </div>

    <div class="row about_container_row4">
      <div class="about_container">
        <h1 class="team_title">MEET THE TEAM</h1>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container ">
        <div class="water_droplet">
          <img src="../images/JetuwrDavis.png" alt="Name" class="profile_pic">
        </div>
        <h1 class="name">Jetuwr</h1>
        <h1 class="title">Founder</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <img src="../images/AbeleMeshesha.png" alt="Name" class="profile_pic">
      </div>
        <h1 class="name">Abele</h1>
        <h1 class="title">Fundraising Chair</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <img src="../images/FairuzAli.png" alt="Name" class="profile_pic">
      </div>
        <h1 class="name">Fairuz</h1>
        <h1 class="title">Event Planning Co-Chair</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <img src="../images/MarwaGhumrawi.png" alt="Name" class="profile_pic">
      </div>
        <h1 class="name">Marwa</h1>
        <h1 class="title">Social Media Chair</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <img src="../images/Ekram.png" alt="Name" class="profile_pic">
      </div>
        <h1 class="name">Ekram</h1>
        <h1 class="title">Event Planning Co-chair</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <img src="../images/Bemnet.png" alt="Name" class="profile_pic">
      </div>
        <h1 class="name">Bemnet</h1>
        <h1 class="title">Treasurer</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <img src="../images/Farida.png" alt="Name" class="profile_pic">
      </div>
        <h1 class="name">Farida</h1>
        <h1 class="title">Secretary</h1>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 about_icon_container">
        <div class="water_droplet">
          <!-- <img src="../images/test.png" alt="Name" class="profile_pic"> -->
      </div>
        <h1 class="name">Arjo</h1>
        <h1 class="title">Community Partnership Liasion/Translator</h1>
      </div>
    </div>
  </div>
  <div class="row row5">
    <div class="blog_container_box1">
      <div class="col-md-6 blog_inner_container_left">
        <div class="left_box">
       <h1 class="blog_title_left">RECENT POSTS</h1>
       <p class="blog_description_left">
         Read about our journey to building a better community in Ethiopia.
       </p>
       <a  href="http://www.medium.com/"><button class="blog_button" type="button">Check out our blog</button></a>
     </div>
       </div>
       <div class="col-md-6 blog_inner_container_right">
       <h1 class="blog_title">HEART</h1>
       <p class="blog_description">
       Below the Surface grew from a passion of young leaders excited to change their communities back home now instead of later. Personal is an understatement: leaders on our team are impacting places with strong family ties.
       </p>
       <h1 class="blog_title">WILL</h1>
       <p class="blog_description">
        Ideas spark the movement but its action that keeps it going. Those who think the most usually do the least. We choose action over inaction and persist until successful. Consistency outlasts any problem.
       </p>
       <h1 class="blog_title">GROWTH</h1>
       <p class="blog_description">
       Below the Surface for us is not just about helping to solve the water crisis in Ethiopia. It’s about growing leaders and rebuilding entire communities. Lasting change comes only from empowering the people in need.
       </p>
        </div>
    </div>
  </div>
  </div>
</body>
</html>
