<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>

<meta name="description" content="Below the Surface is a young, vibrant non-profit organization that uses a watershed approach to engineer solutions to water insecurity in Ethiopia. We believe understanding the culture of each community is vital to building sustainable, independent communities." />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css" />
</head>

<body>
<div>
<div>

<nav class="navbar navbar-m2p sidebar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                Foobar<b>Company</b>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- Dashboard -->
                <li class="active open">
                  <a href="#">
                      <span class="pull-right hidden-xs showopacity glyphicon material-icons">av_timer</span> Dashboard
                  </a>
                </li>
                <!-- Banner -->
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">burst_mode</span>
                        Banners <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>
                <li class="separator">Content</li>
                <!-- Page -->
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">description</span>
                        Pages <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>
                <!-- Blog -->
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">chat_bubble_outline</span>
                        Blog <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>
                <!-- Tags -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon material-icons">label</span>
                        Tags <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"> <i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"> <i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>
                <li class="separator">System</li>
                <!-- Users -->
                <li class="#">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">group</span>
                        Users <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>
                <!-- Exit -->
                <li>
                    <a href="#">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">exit_to_app</span> Exit
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


</div>
<br/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 video_container_row1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 email_container_row2">
        <div class="col-md-12">
          <h1 class="why_text">WHY?</h1>
          <h2 class="signup_text">Sign up for our newsletters</h2>
          <h4 class="join_text">Join our community to make a difference</h4>
        </div>
        <div class="col-md-6">
          <h4 class="join_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h4>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 solution_container_box1">
        <h1 class="test">Hello</h1>
      </div>
      <div class="col-md-6 solution_container_box2">
        <h1 class="test">Hello</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 about_container_row4">
        <h1 class="test">Hello</h1>
      </div>
    </div>
  </div>
</body>
</html>
