.navbar {
  border-radius: 0;
}
.video_container_row1 {
  background-color: #FFFFFF;
  height: 100vh;
  margin-top: -90px;
  z-index: -1;
  padding-top: 90px;
}
.test {
  color: blue;
}
.why_text {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 100;
}
.signup_text {
  color: #FFFFFF;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
}
.join_text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}

.email_container_row2 {
  background-color: #297EA9;
  height: 100vh;
}

.solution_container_box1 {
  background-color: #1184B7;
  height: 100vh;
}
.solution_container_box2 {
  background-color: #FFCA0A;
  height: 100vh;
}

.about_container_row4 {
  background-color: #FFFFFF;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about_container {
  background-color: #FFFFFF;
  height: 50vh;
  width: 70vw;
}
.water_droplet {
  /*margin: 0 auto;*/
  width: 150px;
  height: 150px;
  border-radius: 75% 0 55% 45% / 55% 0 75% 45%;
  border: 3px solid transparent;
  transform: rotate(-45deg);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-top: 15px;
  padding-right: 15px;
  background-color: #37A9E3;

}
.profile_pic {
  width: 120px;
  height: 120px;
  transform: rotate(45deg);
  border-radius: 60px;
  margin: 0 auto;
}
.team_title {
  color: #535353;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: .412rem;
  margin-top: -50px;
  margin-bottom: 50px;
  text-align: center;
}
.name {
  transform: rotate(0deg);
  color: #000000;
  font-weight: 500;
  font-size: 24px;
  /*text-align: center;*/
}
.title {
    color: #535353;
    font-size: 16px;
    font-weight: 300;

}
.about_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
