.navbar {
  border-radius: 0;
}

a {
   text-decoration: none;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
.container {
   margin: 0 auto;
   padding: 20px 50px;
   background: transparent;
}
#sticky-social {
   right: 0;
   position: fixed;
   top: 50%;
   transform: translate(0, -50%);
   z-index: 100;
}
#sticky-social a {
   background: #333;
   color: #fff;
   display: block;
   height: 30px;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 30px;
}
#sticky-social a span {
   line-height: 30px;
   left: 120px;
   position: absolute;
   text-align:center;
   width:120px;
}

#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"] span { background: #3b5998; }

#sticky-social a[class*="twitter"],
#sticky-social a[class*="twitter"] span { background: #00aced; }

#sticky-social a[class*="gplus"],
#sticky-social a[class*="gplus"] span { background: #dd4b39; }

#sticky-social a[class*="linkedin"],
#sticky-social a[class*="linkedin"] span { background: #007bb6; }

#sticky-social a[class*="instagrem"],
#sticky-social a[class*="instagrem"] span { background: #517fa4; }

#sticky-social a[class*="pinterest"],
#sticky-social a[class*="pinterest"] span { background: #cc2127; }

#sticky-social a[class*="medium"],
#sticky-social a[class*="medium"] span { background: #4AAE83; }

.test {
  color: blue;
}
.why_text {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 100;
}

.logo{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.mobilemain{
  display: none;
}

#whoWeAre {
  background-color: rgba(41,126,169,0.5);
  background-image: url('../images/whybackground.jpg');
  background-size: cover;
  margin-top: -20;padding: 30;
}
.emailtitle{
    margin-top: 10px;
    font-size: 45;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}
.emailtitle h1{
  font-size: 50px;
    font-weight: 700;
}
.emailunderline{
  margin-top: -20px;
    color: white;
    font-size: 30px;
}
.emailparagraph{
   color: white;
   font-size: 18;
    padding: 10px 300px;
}

.formStyle {
  background-color: transparent;
  padding: 20px;
  width: 400px;
  margin-bottom: 20px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #ecf0f1;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  font-size: 1em;
  font-weight: 100;
  color: #ffffff;
}
input:focus {
  outline: none;
}
/* To format the placeholder text color */
::-webkit-input-placeholder {
   color: #ecf0f1;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ecf0f1;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ecf0f1;
}

:-ms-input-placeholder {
   color: #ecf0f1;
}

.text-vertical-center-form h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}



.row3 {
  /*background-image: url("../images/solution_background.jpg");*/
  background-color: orange;
  display: flex;
  justify-content: center;
  z-index: -2;
  flex-direction: column;
}

.solution_container_box1 {
  /*background-color: rgba(41,126,169,0);
  background-image: url("../images/create.png");*/
  /*background-image: url("../images/solution_background.jpg");*/
  background: linear-gradient(rgba(255,153,0, 0.45), rgba(255,153,0, 0.45)      ),  url(../images/create.png);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: : -1;
}
.solution_container_box2 {
/*  background-color: rgba(41,126,169,0);
  background-image: url("../images/sustain.png");*/
  /*background-size:100% 50%;*/
  background: linear-gradient(rgba(41,126,169, 0.45), rgba(41,126,169, 0.45)      ),  url(../images/sustain.png);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: : -1;
}
.solution_container_box3 {
 /* background-color: rgba(41,126,169,0);
  background-image: url("../images/vision.png");*/
  background: linear-gradient(rgba(51, 102, 153, 0.45), rgba(51, 102, 153, 0.45)      ),  url(../images/vision.png);
  /*background-image: url("../images/solution_background.jpg");*/
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: : -1;
}
.solution_description {
  color: #333232;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 40px;
  /*border: 5px solid white;*/
  padding: 20px;
  text-align: justify;
}
.solution_block {
  background-color: #FFFFFF;
  border-radius: 0px;
  padding: 10px;
  opacity: 0.8;
}
.solution_title {
  color: black;
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 20px;
  letter-spacing: .412rem;
  border-radius: 0px;
  padding: 20px;
  border-bottom: 1px solid black;

  /*margin-top: -50px;*/
  /*margin-bottom: 50px;*/
  text-align: center;
}
.solution_inner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_container_row4 {
  background-color: #FFFFFF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /*flex-direction: column;*/
}
.about_container {
  background-color: transparent;
  height: 100vh;
  width: 75vw;

}
.water_droplet {
  /*margin: 0 auto;*/
  width: 150px;
  height: 150px;
  border-radius: 75% 0 55% 45% / 55% 0 75% 45%;
  border: 3px solid transparent;
  transform: rotate(-45deg);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-top: 15px;
  padding-right: 15px;
  background-color: #297EA9;

}
.profile_pic {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.team_title {
  color: #535353;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: .412rem;
  margin-bottom: 50px;
  text-align: center;
}
.name {
  transform: rotate(0deg);
  color: #000000;
  font-weight: 500;
  font-size: 24px;
  margin-top: 0;
  /*text-align: center;*/
}
.title {
    color: #535353;
    font-size: 12px;
    font-weight: 300;
    margin-top: -5;

}
.about_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  /*margin-bottom: 20px;*/
}
.row5 {
  background-image: url("../images/solution_background.jpg");
  display: flex;
  justify-content: center;
  z-index: -2;
  height: 100vh;
}
.blog_container_box1 {
  /*background-color: #FFCA0A;*/
  /*background-image: url("../images/solution_background.jpg");*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*opacity: 0.8;*/
  z-index: : -1;
  width: 100%;
}
.blog_inner_container_left {
  /*background-color: #FFCA0A;*/
  background-color: rgba(255,202,10,0.7);
  /*background-image: url("../images/solution_background.jpg");*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  z-index: : -1;
  width: 100%;
}
.left_box {
  border: 5px solid #FFFFFF;
  width: 70%;
  height: 50%;
  z-index: 1;
  margin-right: -40px;
}
.blog_inner_container_right {
  /*background-color: #297EA9;*/
  background-color: rgba(41,126,169,0.9);
  /*background-image: url("../images/solution_background.jpg");*/
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: : -1;
  width: 100%;

}
.blog_description {
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 20px;
  opacity: 1;
  z-index: 1;
}
.blog_description_left {
  color: #FFFFFF;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 20px;
  opacity: 1;
  z-index: 1;
}
.blog_title {
  padding: 20px;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 5px;
  letter-spacing: .412rem;
  text-align: center;
}
.blog_title_left {
  padding: 20px;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: .412rem;
  text-align: left;
}
.blog_button {
  width: 300px;
  margin: 20px;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px;
  background-color: #297EA9;
  border: none;
  border-radius: 5px;
}
.blog_button:hover {
  color: #297EA9;
  font-size: 20px;
  background-color: #FFFFFF;
  /*opacity: 0.8;*/
}

#video .container-fluid{
margin: auto;
width: 100%;
overflow: hidden;
max-height: 1000px;
padding: 0;
position: relative;
top: -20;
}

.embed-responsive{
  min-height: 240px;
}

#intro,
.title h2 {
    text-align: center
}

#coverVid,
#videoContainer {
    overflow: hidden;
    top: 0;
    position: absolute
}

#careers,
#sitewideHeader a,
body {
    font-family: Hind, sans-serif
}

#intro h3,
#sitewideHeader .login-btn,
#sitewideHeader a,
.blogPosts .blogItem h4,
.title h2 {
    text-transform: uppercase
}

html {
    font-size: 100%
}

body {
    font-family: Hind, sans-serif
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004)
}

.container-fluid {
    padding: 0
}

.container {
    max-width: 970px
}


#intro h1,
#intro h3,
#sitewideHeader.nav-on-white .navbar-collapse[aria-expanded=true] .nav.navbar-nav a {
    color: #fff
}

#intro .container {
    padding-top: 322px
}

#intro h1 {
    font-size: 6rem;
    letter-spacing: 1.5rem;
    font-weight: 600
}

#intro h3 {
    font-size: 1.8rem;
    letter-spacing: .625rem;
    font-weight: 500
}
}

#video .container-fluid{
margin: auto;
width: 100%;
overflow: hidden;
max-height: 800px;
padding: 0;
position: relative;
top: -20px;
}

.embed-responsive{
  min-height: 240px;
}



.donate{
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 999;
}
.btn{
    background-color: transparent;
    color: white;
    padding: 7.6px 20px;
    z-index: 999;
}
.btn-round{
  border-radius: 50px;
    border-color: #E89815;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2;
    border-width: 2px;
}
.btn-default:hover {
    color: black;
    background-color: transparent;
    border-color: white;
}

.donatebutton{
  width: 115px;
  height: 50px;
  background-image: url('../images/ButtonOutline.png');
  text-align: center;
  padding: 10px 0px;

}

.donateword{
   font-size: 14px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-variant: small-caps;
   margin-left: -3;
}

/* IntroVideo */
@media (max-width: 1220px) {
      #intro h1{
        font-size: 60px;
      }
      #intro .typed-cursor{
        font-size: 65px;
      }
      #intro{
        height: 450px;
      }
}
@media (max-width: 900px) {
      #intro h1{
        font-size: 30px;
      }
      #intro .typed-cursor{
        font-size: 30px;
      }
      #intro{
        height: 450px;
      }
      .emailparagraph{
        padding: 10px 20px;
        font-size: 14;
      }

}
@media (max-width: 575px) {
      #intro h1{
        font-size: 22px;
      }
      #intro h3{
        font-size: 20px;
      }
      #intro .typed-cursor{
        font-size: 22px;
      }
      #intro{
        height: 450px;
      }
      .formStyle{
        width: 300px;
      }
      .emailtitle h1{
        font-size: 30px;
      }
      .donate {
          right: 140;
      }
      .mobilemain{
        display: block;
        width: 100%;
        height: 100%;
        background: url('../images/mobilemain.jpg') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
}

